$light-blue: #2393d1;
$dark-blue: #1a2352;
$text-blue: #1a2352;
$border-magenta: #cf3b7b;
$border-blue: #2393d1;
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//anim svg
@keyframes dash {
    to {
        stroke-dasharray: 414;
        stroke-dashoffset: 122;
    }
}

@keyframes dash2 {
    to {
        stroke-dasharray: 444;
        stroke-dashoffset: 122;
    }
}

#infogr-wrap-080223 {
    margin: 2000px auto 160px auto;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 660px;
    height: 100%;
    min-height: 440px;
    border: 2px solid $dark-blue;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 110px;
    padding-top: 0;
    opacity: 0;
    &.start {
        animation: 0.5s ease-out 0s 1 fadeIn;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    @media (min-width: 940px) {
        padding-top: 30px;
        margin: 20px auto 160px auto;
        padding-bottom: 90px;
    }
    @media (min-width: 1300px) {
        padding-top: 0px;
        padding-bottom: 0px;
        max-width: 1280px;
    }
    h2 {
        clear: both;
        font-family: Helvetica, Sans-Serif;
        font-weight: bold;
        color: $dark-blue;
        font-size: 17px;
        text-transform: uppercase;
        width: 100%;
        display: block;
        margin: 12px auto 0 auto;
        position: relative;
        margin: 40px 0px 20px 40px;
        max-width: 60%;
        @media (min-width: 940px) {
            max-width: 70%;
        }
        // @media (min-width: 1216px) {
        //     margin: 676px auto 0 auto;
        // }  
    }
    //2nd title
    h2#second-title100223 {
        text-align: center;
        margin: 0 auto 0 auto;
        position: absolute;
        bottom: -155px;
        opacity: 0;
        &.start {
            animation: 0.5s ease-out 0s 1 fadeIn;
            animation-delay: 0.6s;
            animation-fill-mode: forwards;
        }
    }
    p {
        font-family: Helvetica, Sans-Serif;
        color: $dark-blue;
        font-size: 17px;
        margin: 5px 40px 5px 40px;
        &.no-icon {
            max-width: 60%;
            @media (min-width: 940px) {
                max-width: 70%;
            }
            &::before {
                content: "";
            }
        }
        &.icon {
            position: relative;
            left: 16px;
            &::before {
                content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 4.187 7.374' style='enable-background:new 0 0 4.187 7.374;' xml:space='preserve'%3E%3Cpolyline style='fill:none;stroke:%23E01271;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;' points='0.5,0.5 3.687,3.687 0.5,6.874 '/%3E%3C/svg%3E");
                color: $border-magenta;
                position: relative;
                left: -16px;
                top: 7px;
                width: 6px;
                height: 6px;
                display: block;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    .hidden {
        visibility: hidden;
        opacity: 0;
        scale: 0;
        overflow: hidden;
        transform-origin: top left;
        transition: all 0.4s ease-out;
        height: 0;
        background-color: white;
    }
    .visible {
        visibility: visible;
        opacity: 1;
        scale: 1;
        transform-origin: top left;
        transition: all 0.4s ease-in;
        max-height: none;
        background-color: white;
        height: 325px;
    }
    .thumb100223 {
        width: 50%;
        height: auto;
        position: relative;
        margin-top: 0px;
        @media (min-width: 480px) {
            margin-top: 20px;
            width: 200px;
            height: auto;
        }
        @media (min-width: 940px) {
            margin-top: 20px;
            height: auto;
        }
        @media (min-width: 1216px) {
            margin-top: 0;
        }
        // @media (min-width: 1216px) {
        //     top: -34px;
        // }
        svg {
            display: block;
            margin: 20px auto 0 auto;
            transition: all 0.2s ease-in;
            cursor: pointer;
            &:hover {
                transition: all 0.2s ease-in;
                position: relative;
                scale: 1.1;
                transform: translateY(5px);
            }
        }
        &.svg1 {
            &.start {
                opacity: 0;
                animation: 1s ease-out 0s 1 slideInFromTop;
                animation-delay: 1s;
                animation-fill-mode: forwards;
                svg {
                    height: 120px;
                    width: 120px;
                    .path {
                        stroke-dasharray: 414;
                        stroke-dashoffset: 592;
                        animation: dash 0.8s linear;
                        animation-fill-mode: forwards;
                        animation-delay: 0.8s;
                    }
                }
            }
        }
        &.svg2 {
            &.start {
                opacity: 0;
                animation: 1s ease-out 0s 1 slideInFromTop;
                animation-delay: 1.2s;
                animation-fill-mode: forwards;
                svg {
                    height: 120px;
                    width: 120px;
                    .path {
                        stroke-dasharray: 414;
                        stroke-dashoffset: 592;
                        animation: dash 0.8s linear;
                        animation-fill-mode: forwards;
                        animation-delay: 1.1s;
                    }
                }
            }
        }
        &.svg3 {
            &.start {
                opacity: 0;
                animation: 1s ease-out 0s 1 slideInFromTop;
                animation-delay: 1.4s;
                animation-fill-mode: forwards;
                svg {
                    height: 120px;
                    width: 142px;
                    .path {
                        stroke-dasharray: 414;
                        stroke-dashoffset: 592;
                        animation: dash 0.8s linear;
                        animation-fill-mode: forwards;
                        animation-delay: 1.4s;
                    }
                }
            }
        }
        &.svg4 {
            &.start {
                opacity: 0;
                animation: 1s ease-out 0s 1 slideInFromTop;
                animation-delay: 1.6s;
                animation-fill-mode: forwards;
                svg {
                    height: 120px;
                    width: 98px;
                    .path {
                        stroke-dasharray: 414;
                        stroke-dashoffset: 592;
                        animation: dash 0.8s linear;
                        animation-fill-mode: forwards;
                        animation-delay: 1.7s;
                    }
                }
            }
        }
        &.svg5 {
            &.start {
                opacity: 0;
                animation: 1s ease-out 0s 1 slideInFromTop;
                animation-delay: 1.8s;
                animation-fill-mode: forwards;
                svg {
                    height: 116px;
                    width: 102px;
                    .path {
                        stroke-dasharray: 414;
                        stroke-dashoffset: 592;
                        animation: dash 0.8s linear;
                        animation-fill-mode: forwards;
                        animation-delay: 2s;
                    }
                }
            }
        }
        &.svg6 {
            &.start {
                opacity: 0;
                animation: 1s ease-out 0s 1 slideInFromTop;
                animation-delay: 2s;
                animation-fill-mode: forwards;
                svg {
                    height: 120px;
                    width: 136px;
                    .path {
                        stroke-dasharray: 414;
                        stroke-dashoffset: 592;
                        animation: dash2 0.8s linear;
                        animation-fill-mode: forwards;
                        animation-delay: 2.3s;
                    }
                }
            }
        }
        h2 {
            font-family: Helvetica, Sans-Serif;
            font-weight: bold;
            color: $dark-blue;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            display: block;
            margin: 12px auto 0 auto;
            line-height: 16px;
            @media (min-width: 1216px) {
                margin: 42px auto 0 auto;
                font-size: 17px;
                line-height: 21px;
            }
        }
    }
    #toggle060223Text1,
    #toggle060223Text2,
    #toggle060223Text3,
    #toggle060223Text4,
    #toggle060223Text5,
    #toggle060223Text6,
    #toggle060223Text7 {
        padding: 40px 0px;
        max-width: 400px;
        min-width: 300px;
        margin: auto;
        transform-origin: bottom left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid $light-blue;
        border-radius: 12px;
        height: auto;
        h2 {
            margin-top: 0px;
            width: auto;
        }
        svg {
            width: 26px;
            height: 26px;
            position: absolute;
            top: 40px;
            right: 40px;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    svg#toggle060223Button7 {
        height: 174px;
        width: 162px;
        display: block;
        margin: 20px auto;
        position: absolute;
        bottom: -122px;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
        &.start {
            animation: 0.3s ease-out 0s 1 slideInFromTop;
            animation-delay: 0.8s;
            animation-fill-mode: forwards;
        }
        &:hover {
            transition: all 0.2s ease-in;
            bottom: -125px;
        }
    }
}